@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header {
    background: url('./assets/hero-img.jpg') no-repeat center center/cover;
    height: 100vh;
}
#red{
    color: red;
}
#btn{
    background-color: red;
    
}
.header-container {
    height: 100vh;
    background-color: black;
}

@media (min-width: 992px) {
    .main{
        position: relative;
        top: -180px;
    }
}
.worker-section{
    background: url('./assets/img.png') no-repeat center right/contain;
}
.footer-img{
    background: url('./assets/img-6.png') no-repeat center center/cover;
}
.footer-cards{
    background-color: black;
}