@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* <!-- header styles --> */

.header {
    background: url('./assets/hero-img.jpg') no-repeat center center/cover;
    height: 100vh;
}
.header-container {
    height: 100vh;
    background-color: black;
}
#btn{
  background-color: #cb0707;
  font-weight: 600;
  color: black;
  transition: all 0.3s ease;
  border: 10px solid black;
}
#btn:hover {
  background-color: rgb(179, 153, 153);
}

.text-color{
  color: #f11111;
}
.header-para{
  font-size: 14px;  
} 
  /* for larger screens  */

  @media (min-width: 992px) {
    #btn{
      position: relative;
      top: -90px;
    }
    .header-para{
      width: 600px;
    } 
      
}

 /* main  */

 @media (min-width: 992px) {
  .main{
      position: relative;
      top: -200px;
  }
}

  /* section 1 styles  */

.card{
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(125, 33, 33, 0.331);
}

.card p{
  font-size: 14px;    
}
.card a{
  color: #f11111;
  font-size: 14px;
}
.card:hover {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: #C53A49;
  color: whitesmoke;
  transform: translateY(-5px);
  box-shadow: 0 8px 10px rgba(240, 3, 3, 0.783);
}
.card:hover a{
  color: whitesmoke;
}
.animated-card:hover i {
  transform: rotate(20deg);
  color: whitesmoke;
}
.animated-card i {
  transition: transform 0.5s ease;
  color: red;
}


/* section 2 styles */

.worker-section{
    background: url('./assets/img.png') no-repeat center right/contain;
}

/* <!-- section 7 --> */

.footer-img{
    background: url('./assets/img-6.png') no-repeat center center/cover;
}
.footer-cards{
    background-color: black;
}



